.footer {
    padding: 20px 0;
    text-align: center;
    opacity: 0;
    animation: showFooter 2s ease 1s forwards;

    & > img {
        height: 50px;
        margin-bottom: 15px;
    }

    &__copyright {
        font-size: 12px;
        color: gray;
    }
}

@keyframes showFooter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}