<article class="warning">
    <section class="warning__content">
        <div class="warning__content__header">
            <img src="../../../assets/icons/warning.svg" alt="Aviso">
            <div class="warning__content__header__text">AVISO</div>
        </div>
        <div class="warning__content__description">
            O projeto <i>Nós</i> é parte do trabalho de conclusão de curso - TCC2 do aluno Raul Plassman
            em Design Digital pela UFC Quixadá e possui conteúdo indicado para maiores de 18 anos.
        </div>
        <div class="warning__content__actions">
            <button routerLink="/project">Entrar no site</button>
        </div>
    </section>
</article>