.project {
    position: relative;
    
    &__home {
        width: 900px;
        height: 670px;
        margin: auto;

        &__container {
            width: 900px;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;

            &__text {
                margin-top: 60px;
                opacity: 0;
                animation: showContent 1.5s ease 1s forwards;

                & > p {
                    width: 500px;
                    font-size: 13px;
                    line-height: 1.4;
                }

                &__image {
                    margin-top: 30px;
                    text-align: center;
                    opacity: 0;
                    animation: showContent 1.5s ease 1.5s forwards;

                    & > img {
                        width: 270px;
                    }
                }
            }
            
            &__photo {
                margin-top: 30px;
                flex-grow: 1;
                display: flex;
                justify-content: center;
                opacity: 0;
                animation: showContent 1.5s ease 0.5s forwards;
            }
        }
    }

    &__gallery {
        background-image: url('../../../assets/images/gallery-bg.png');
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 80px 0;

        &__container {
            width: 900px;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 30px;

            &__item {
                display: flex;
                justify-content: center;
                opacity: 0;
            }
        }
    }
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotatePolaroidPhoto {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes showGallery {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}