<article class="project">
    <section class="project__home">
        <div class="project__home__container">
            <div class="project__home__container__text">
                <p>
                    Nós é uma série fotográfica que é parte do trabalho de conclusão de curso (TCC 2) do
                    aluno Raul Plassman em Design Digital pela UFC-Quixadá. A série traz um olhar sobre
                    corpos LGBTQIA+ do Sertão Central do Ceará apresentando sua diversidade e promovendo
                    visibilidade dos mesmos. O intuito desse trabalho além de criar imagens de um grupo é
                    discutir a imagem que esses corpos carregam ao longo dos anos em nossa sociedade. Ela
                    foi realizada entre os anos de 2020 e início de 2021, período em que o trabalho foi
                    construído, e contou com a participação de 15 pessoas.
                </p>
                <p>
                    A ideia do trabalho surgiu do meu incômodo com relação a imagem que nossos corpos
                    carregam, a de que somos desviantes, errados, e tudo isso acarreta grandes perdas
                    para a nossa comunidade. Enquanto homem gay e estudante de Design Digital me sinto no
                    dever de construir um trabalho que promova discussões que possibilitem melhorias para
                    nossa comunidade. Todas as fotografias foram feitas em câmera analógica instantânea e
                    construídas a partir de diálogo com os participantes. Minha maior preocupação era
                    entender como esses corpos  se vêem na região onde vivem e que a partir dessa visão 
                    fossem escolhidas por eles a forma como desejavam ser retratados.
                </p>
                <div class="project__home__container__text__image">
                    <img src="../../../assets/images/visibilidade-LGBTQIA+.png" alt="LGBTQIA+">
                </div>
            </div>
            <div class="project__home__container__photo">
                <div class="animated-polaroid-photo" (mouseenter)="flipPhoto()" (mouseleave)="flipPhoto()">
                    <div [ngClass]="{'animated-polaroid-photo__card': true, 'is-flipped': photoFlipped}">
                        <div class="animated-polaroid-photo__card__face--front">
                            <div
                                class="animated-polaroid-photo__card__face--front__image-container"
                                [ngStyle]="{'background-image': currentCardPhoto}">
                            </div>
                        </div>
                        <div class="animated-polaroid-photo__card__face--back">
                            <img src="../../../assets/images/logo.png" alt="Nós">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project__gallery">
        <div class="project__gallery__container">
            <div
                *ngFor="let photo of galleryPhotos; let i = index"
                class="project__gallery__container__item"
                [ngStyle]="showGallery ? {'animation': 'showGallery 1.5s ease ' + i + 's forwards'} : null">
                <a routerLink="/exposure">
                    <polaroid-photo
                        [photo]="photo.src"
                        [orientation]="photo.orientation"
                        [zoom]="true"
                    ></polaroid-photo>
                </a>
            </div>
        </div>
    </section>
</article>