<article class="project">
    <section class="project__home">
        <div class="project__home__container">
            <div class="project__home__container__text">
                <p>
                    O Projeto Nós é uma obra que faz parte do trabalho de conclusão de curso (TCC 2) do
                    aluno Raul Plassman, em Design Digital pela Universidade Federal do Ceará - Campus
                    Quixadá. O trabalho é composto por uma série fotográfica e um site de apresentação
                    que busca dar visibilidade aos corpos LGBTQIA+ do Sertão Central - CE.
                </p>
                <p>
                    A série está dividida em duas fases e foi feita a partir do alinhamento das visões
                    do artista (que também é participante) com as dos 12 demais participantes (que
                    também são artistas). O trabalho foi realizado entre 2020 e início de 2021 e
                    resultou em 28 imagens, que podem ser conferidas nas próximas seções deste site.
                </p>
                <div class="project__home__container__text__image">
                    <img src="../../../assets/images/visibilidade-LGBTQIA+.png" alt="LGBTQIA+">
                </div>
            </div>
            <div class="project__home__container__photo">
                <card [photo]="currentCardPhoto"></card>
            </div>
        </div>
        <div class="project__home__arrow">
            <img src="../../../assets/icons/scroll-down.svg" (click)="scroll(gallery)">
        </div>
    </section>
    <section #gallery class="project__gallery">
        <div class="project__gallery__container">
            <div
                *ngFor="let photo of galleryPhotos; let i = index"
                class="project__gallery__container__item"
                [ngStyle]="showGallery ? {'animation': 'showGallery 1.5s ease ' + i + 's forwards'} : null">
                <a routerLink="/exposure">
                    <polaroid-photo
                        [photo]="photo.src"
                        [orientation]="photo.orientation"
                        [zoom]="true"
                    ></polaroid-photo>
                </a>
            </div>
        </div>
    </section>
</article>