<article class="game-of-memories">
    <section *ngIf="gameCards.length" class="game-of-memories__cards">
        <card-game
            *ngFor="let card of gameCards; let i = index"
            [ngClass]="{
                'game-of-memories__cards__card': true,
                'game-of-memories__cards__card--missed': card.right === false,
                'game-of-memories__cards__card--right': card.right
            }"
            [photo]="'url(' + card.src + ')'"
            [cod]="card.cod"
            [index]="i"
            [flipped]="card.flipped"
            (photoFlipped)="photoFlipped($event)"
            [disabled]="disabled"
        >
        </card-game>
    </section>
    <section *ngIf="finish" class="game-of-memories__finish-screen">
        <div class="game-of-memories__finish-screen__content">
            <img class="gif-image" src="../../../assets/images/game-gif.gif">
            <img class="memorias-de-nos" src="../../../assets/images/momorias-de-nos.png" alt="Memórias de Nós">
            <button (click)="inicializeGame()">Jogar novamente</button>
        </div>
    </section>
</article>