.game-of-memories {
    padding-top: 88px;
    background-color: lightgrey;
    background-image: url('../../../assets/images/game-of-memories-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &__cards {
        width: 900px;
        margin: auto;
        padding: 30px 30px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-gap: 10px;
        opacity: 0;
        animation: showcards 1s ease 1s forwards;

        &__card {
            &--missed {
                animation: shake 0.3s linear;
            }
            &--right {
                animation: zoomIn 0.5s linear;
            }
        }
    }

    &__finish-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(#000000, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        opacity: 0;
        animation: showFinishScreen 0.2s ease forwards;

        &__content {    
            text-align: center;
            display: flex;
            flex-direction: column;
            opacity: 0;
            animation: showcards 1s ease 1s forwards;

            .gif-image {
                height: 400px;
                margin-bottom: 30px;
            }
            
            .memorias-de-nos {
                width: 300px;
                margin-bottom: 30px;
            }

            button {
                width: 170px;
                margin: auto;
                border: 1px solid white;
                padding: 5px 15px;
                background-color: transparent;
                color: white;
                cursor: pointer;
                font-size: 16px;
                outline: none;
            }
        }
    }
}

@keyframes showcards {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 50%, 100% {
        transform: rotate(2deg);
    }
    25%, 75% {
        transform: rotate(-2deg);
    }
}

@keyframes zoomIn {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes showFinishScreen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}