.exposure {
    background-color: lightgrey;
    padding-top: 88px;
    box-sizing: border-box;

    &__container {
        width: 900px;
        margin: auto;
        display: flex;

        &__column {
            flex-grow: 1;
            padding-top: 30px;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &__item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }
}