.card-game {
    width: 180px;
    height: 250px;
    perspective: 600px;

    &__card {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;

        &__face {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            &--front {
                @extend .card-game__card__face;
                background: white;
                transform: rotateY(180deg);

                &__image-container {
                    height: 80%;
                    width: 90%;
                    margin-top: -30px;
                    background-color: gray;
                    background-size: cover;
                    transition: background-image 2s ease;
                }
            }

            &--back {
                @extend .card-game__card__face;
                background-image: url('../../../assets/images/card-back.png');
                background-size: cover;
                background-position: center;
                // background: radial-gradient(circle at 12.5% 12.5%, #ec68e4 0, #fa5fd3 4.55%, #ff58c1 9.09%, #ff52ae 13.64%, #ff509c 18.18%, #ff5089 22.73%, #ff5377 27.27%, #ff5965 31.82%, #ff6154 36.36%, #ff6943 40.91%, #fe7232 45.45%, #f37b1f 50%, #e78303 54.55%, #d98b00 59.09%, #cb9300 63.64%, #bb9900 68.18%, #aa9f00 72.73%, #99a400 77.27%, #86a900 81.82%, #70ad04 86.36%, #58b023 90.91%, #36b337 95.45%, #00b54a 100%);
                
                // & > img {
                //     width: 60px;
                // }
            }
        }

        &.is-flipped {
            transform: rotateY(-180deg);
        }
    }
}