.polaroid-photo {
    height: 300px;
    width: 200px;
    background-color: white;
    padding: 20px 12px 50px 12px;
    box-sizing: border-box;
    transition: transform 0.2s ease ;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    &__photo {
        height: 100%;
        background-color: gray;
        background-position: center;
        transition: background-size 4s linear;
        margin-bottom: 5px;
    }

    &--landscape {
        transform: rotate(-90deg);

        &:hover {
            transform: scale(1.05) rotate(-90deg) !important;
        }
    }

    &--big {
        height: 400px;
        width: 270px;
    }

    &--zoom {
        &:hover {
            .polaroid-photo__photo {
                background-size: 250% !important;
            }
        }
    }

    &__text {
        color: black;
        font-family: "Black Colnes";
        font-size: 32px;
        text-align: center;
    }
}