<header class="navigation-header">
    <div class="navigation-header__container">
        <div class="navigation-header__container__logo" routerLink="/project">
            <img src="../../../assets/images/logo.png" alt="Nós">
        </div>
        <ul class="navigation-header__container__items-container">
            <li
                *ngFor="let item of items"
                class="navigation-header__container__items-container__item"
                [routerLink]="[item.link]">
                {{item.name}}
            </li>
            <div
                class="navigation-header__container__items-container__indicator"
                [ngStyle]="{
                    'width': indicatorWidth,
                    'left': indicatorPosition
                }"
            ></div>
        </ul>
    </div>
</header>