/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
    width: 900px;
    margin: auto;
}

@font-face {
    font-family: "Black Colnes";
    src: local("Black Colnes"), url(./assets/fonts/black_colnes.ttf) format("truetype");
}