<article class="participants">
    <section
        *ngFor="let participant of participants; let i = index"
        [ngClass]="{'participants__item': true, 'participants__item--reverse': i % 2 === 0}"
        [ngStyle]="{'animation-delay': (i + 1) + 's'}"
        >
        <div class="participants__item__text">
            <div class="participants__item__text__name">{{participant.name}}</div>
            <div class="participants__item__text__info">
                {{participant.age}} - {{participant.occupation}} - {{participant.city}}</div>
            <div class="participants__item__text__description">
                "{{participant.description}}"
            </div>
        </div>
        <div class="participants__photo">
            <polaroid-photo
                [photo]="participant.photo"
                [size]="'big'">
            </polaroid-photo>
        </div>
    </section>
</article>